<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Musam Dekho</title>
    <link href="../static/css/styles.css" rel="stylesheet" />
  </head>
  <body class="index">
    <div class="main-content">
      <h1>Welcome to Mausam Dekho</h1>
      <form method="post">
        <div class="user-input">
          <input
            class="city"
            type="text"
            autocomplete="off"
            name="city"
            placeholder="Enter your City name"
          />
          <br />
          <input
            type="text"
            name="state"
            autocomplete="off"
            class="state"
            placeholder="Enter your State name"
          />
        </div>
        <center>
          <button type="submit" class="submit-btn">Search</button>
        </center>
      </form>
    </div>
  </body>
</html>
